# Node / React
node_modules/
**/node_modules/
dist/
build/
*.log

# Python / Django
venv/
**/venv/
__pycache__/
**/__pycache__/
*.py[cod]
*.sqlite3

# Fichiers générés
media/
staticfiles/
backend/justificatifs/

# Secrets & Environnement
.env
.env.*
!.env.example

# OS / Windows / IDE
*.lnk
.DS_Store
Thumbs.db
.vscode/
.idea/