# Node / React
node_modules/
**/node_modules/
dist/
build/
*.log

# Python / Django
venv/
**/venv/
__pycache__/
**/__pycache__/
*.py[cod]
*.sqlite3

# Env & OS (Secrets et fichiers indésirables)
.env
*.env
*.lnk
.DS_Store
Thumbs.db
# justification (documents)
backend/justificatifs/
